body {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color:#333
}

#header {
  background:#d6cbd3;
  height:auto;
  width:100%;
}

.grid-container {
  display: grid;
  padding-right:50px;
  grid-column-gap: 0px;
  grid-template-columns: auto 400px;
  background:#d6cbd3;
}

.grid-item {
  text-align:center;
}

a {
 font-size:18pt;
 padding-top: 50px;
 padding-bottom:20px;
 padding-left:80px;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  display:inline;
  padding-top:30px;
  padding-bottom:20px;
  padding-left:15px;
  padding-right:50px;
 }

 .logo::after {
  clear:both;
 }

.cropped {
  width: 1100px;
  height: 300px;
  object-fit: cover;
}

#nav {
  height: auto;
}

#row {
  clear: both;
  margin-bottom:20px;
  margin-left: 100px;
  margin-right:100px;

}

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color:#d64161;
  font-size:22pt;
  font-style: bold;
  font-color: white;
  padding-right:100px;
}


li {
  float: right;
}

li::after {
  clear: both;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#eca1a6
}

h1 {
  text-align: center;
}


p {
  font-size: 19pt;
  text-align:center;
  font-weight:bold;
  display: block;
}



#leftcolumn {
   width: 48%;
   float: left;  
   margin-bottom: 15px;
   margin-left: 0px;
   margin-right: 5px;
   margin-top: 0px;
}

#leftcolumn::after {
  clear: both;
}   

#rightcolumn {
   width: 48%;
   float:right;
   margin-bottom:15px;
   margin-left: 5px;
   margin-right: 0px;
   margin-top: 0px;
}

   
#rightcolumn::after {
  clear: both;
}   


#footer {
   background: #d6cbd3;
   clear: both;
   text-align:center;
   font-size:8pt;
   padding-bottom:20px;
}


#logosmall {
overflow: auto;
height:auto;
width:250px;
padding-top:20px;
}
   
#logosmall::after {
  clear: both;
}   
